* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .circle {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.281);
    /* transition: all 0.05s linear; */
  }
  .circle:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px black;
  }
  
  .form{
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 0.2rem;
    border: 2px solid black;
  }
  
  .form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0.2rem 0;
  }
  
  .form input {
    width: 120px;
  }
  
  .start {
    margin: 0.5rem 0;
    padding: 5px;
  }